.container {
    background: linear-gradient(270.37deg, #D6FFF2 0.42%, #CCF8F2 27.92%, #B4E7F5 73.09%, #8CCBF9 130.06%, #55A5FE 194.88%, #54A4FF 196.84%);
    border: 1px solid #E3E2D6;  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
  }
  .sub-container1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    max-width: 50%;
    margin-left: 40px;
  }
  .sub-container2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  
  .picture {
    width: 200px;
    background-color: transparent;
  }
 
  .title {
    color: black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
  }
  .para {
    color: black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    font-weight: 200;
  }
  .button {
    color: white;
    width: 150px;
    background-color: #fb8000;
    border-radius: 10px;
    padding: 10px;
    border-width: 0px;
  }
  @media(min-width: 465px) and (max-width: 680px) {
    .picture {
      width: 100px;
    }
    .button {
      align-self: center;
    }
    .para {
      text-align: center;
    }
    .title {
      text-align: center;
    }
    .sub-container1 {
      align-items: center;
      max-width: 80%;
    }
    .sub-container2{
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
  }
  @media(max-width: 464px) {
    .picture {
      width: 200px;
    }
    .button {
      align-self: center;
    }
    .para {
      text-align: center;
    }
    .title {
      text-align: center;
    }
    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .sub-container2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }